<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554437429734-pmdapjbq1fn2jgh2anlphh7v15kqofv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554437429734-pmdapjbq1fn2jgh2anlphh7v15kqofv0</string>
	<key>API_KEY</key>
	<string>AIzaSyClpN87WTyNw5ebcUpWWApOezaAZPzazw4</string>
	<key>GCM_SENDER_ID</key>
	<string>554437429734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watnow.ritsring</string>
	<key>PROJECT_ID</key>
	<string>ritsring-6df8b</string>
	<key>STORAGE_BUCKET</key>
	<string>ritsring-6df8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554437429734:ios:ed6d48aa89db0605</string>
	<key>DATABASE_URL</key>
	<string>https://ritsring-6df8b.firebaseio.com</string>
</dict>
</plist>